<section class=" mt-5 col-10 justify-content-center">
    <div class="container this-recipe-container">
        <div class="row text-center my-4">
            <div class="col-sm-12 col-md-8 col-lg-8 ">
                <div class="this-recipe-image"><img width="100%" height="100%" src="{{recipe.Image}}"></noscript>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4  ">
                <h1 class="this-recipe-name">{{recipe.name}} </h1>
                <div class="recipe-times container this-color-border">
                    <div class="time-container this-color-border">
                        <div class="recipe-time-header">Prep Time</div>
                        <div class="recipe-time"><span class="">{{prepTime}}</span>mins</div>
                    </div>
                    <div class="recipe-time-container this-color-border">
                        <div class="this-recipe-time-header">Cook Time</div>
                        <div class="this-recipe-time"><span class=" cook-time">{{cookTime}}</span>mins</span>
                        </div>
                    </div>
                    <div class="recipe-time-container this-color-border">
                        <div class="recipe-serves ">Serves</div>
                        <div class="recipe-serves"><span class="this-serves">{{serves}}</span>
                        </div>
                    </div>
                </div>
                <div class="this-recipe-summary">
                    <p>{{summary}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="this-recipe-cuisine-container text-center">
                    <span class="this-recipe-cuisine-name">Cuisine:</span>
                    <span class="this-recipe-cuisine">
                        {{cuisineType}} </span>
                </div>
                <div class="this-recipe-cuisine-container text-center">
                    <span class=" this-recipe-author-name text-center">Author</span>:
                    <span class=" this-recipe-author">{{user.name}}</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center this-recipe mx-1">
                    <div class="col-sm-12 col-md-6 col-lg-6 this-recipe-details">
                        <div class="this-recipe-header-ingredient this-color-header">Ingredients</div>
                        <div class="this-recipe-ingredient-group">
                            <ul class="this-recipe-ingredients">
                                {{recipe.ingredients}}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 this-recipe-details">
                        <div class="this-recipe-header this-color-header">Instructions</div>
                        <div class="this-recipe-instruction-group">
                            <ol class="this-recipe-instructions">
                                {{recipe.instructions}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    {{> comment }}


    {{> commentform }}


</section>